<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.webchat.dao.ISystemInfoDao">

  <resultMap id="BaseResultMap" type="com.amayadream.webchat.pojo.SystemInfo">
    <id column="SYSINFOID" property="sysinfoid" jdbcType="INTEGER"/>
    <result column="USERID" property="userid" jdbcType="VARCHAR"/>
    <result column="PAGESIZE" property="pagesize" jdbcType="INTEGER"/>
    <result column="ONLINESHOW" property="onlineshow" jdbcType="INTEGER"/>
    <result column="MYINFO" property="myinfo" jdbcType="INTEGER"/>
    <result column="FRIENDSTIP" property="friendstip" jdbcType="INTEGER"/>
  </resultMap>

  <select id="selectSystemInfoByUserId" resultMap="BaseResultMap">
    SELECT SYSINFOID,PAGESIZE,ONLINESHOW,MYINFO,FRIENDSTIP,USERID FROM system_info
    WHERE USERID = #{userid};
  </select>

  <update id="updateSettings">
      UPDATE system_info
      <set>
        <if test="pagesize != null and pagesize != ''">
          PAGESIZE = #{pagesize},
        </if>
        <if test="onlineshow != null and onlineshow != ''">
          ONLINESHOW = #{onlineshow},
        </if>
        <if test="myinfo != null and myinfo != ''">
          MYINFO = #{myinfo},
        </if>
        <if test="friendstip != null and friendstip != ''">
          FRIENDSTIP = #{friendstip}
        </if>
      </set>
      WHERE USERID = #{userid};
  </update>
  <insert id="insertSettings" parameterType="com.amayadream.webchat.pojo.SystemInfo">
      INSERT INTO system_info (SYSINFOID,USERID,PAGESIZE,ONLINESHOW,MYINFO,FRIENDSTIP)
      VALUES (#{sysinfoid},#{userid},#{pagesize},#{onlineshow},#{myinfo},#{friendstip});
  </insert>


</mapper>